# DVC internals
/.dvc/tmp/
/.dvc/cache/

# Large data handled by DVC (don’t commit directly to Git)
raw_videos/
processed_videos/
frames/
cvat_exports/
datasets/*
!datasets/**/*.dvc
!datasets/.gitignore
models/

# Logs and notebooks
logs/
.ipynb_checkpoints/

# OS cruft
.DS_Store
Thumbs.db

# Docker / env
*.log
.env

# Editor configs
.vscode/
