# DVC internals
/.dvc/tmp/
/.dvc/cache/

# Large data (use DVC for these)
raw_videos/
processed_videos/
frames/
cvat_exports/
datasets/*
!datasets/**/*.dvc
!datasets/.gitignore

# Models and weights
models/

# Logs and notebooks
logs/
.ipynb_checkpoints/

# OS cruft
.DS_Store
Thumbs.db

# Docker / env
*.log
.env

# Editor configs
.vscode/
/processed_videos
/frames
/cvat_exports
/models
